---
name: Update a GitHub Project
on:
  workflow_dispatch: {}
  # schedule:
  #   - cron: "*/10 * * * *"
jobs:
  update-project:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.3
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: ghproj -v
        env:
          GITHUB_TOKEN: ${{github.token}}
      - run: ghproj add
        env:
          GITHUB_TOKEN: ${{secrets.GH_PAT}}
      - run: |
          state=$(gh issue view "$ISSUE_NUMBER" --json state -q .state)
          if [ "$state" = "CLOSED" ]; then
            gh issue reopen "$ISSUE_NUMBER" -c "CI failed. $GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID"
          fi
        if: failure()
        env:
          ISSUE_NUMBER: "24"
          GITHUB_TOKEN: ${{github.token}}
      - run: |
          gh issue close "$ISSUE_NUMBER"
        env:
          ISSUE_NUMBER: "24"
          GITHUB_TOKEN: ${{github.token}}
